body {
  font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;
  background-color: #111;
  color: antiquewhite;
}

body * {
  box-sizing: border-box;
}

.app {
  max-width: 980px;
  margin: 0 auto;
}