.leaseapp {
  font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 1em;

  .results {
    background-color: #111;
    width: 100%;
  }

  input {
    width: 300px;
  }

  .title {
    background-color: darkslateblue;
    height: 2rem;
    color: antiquewhite;
    font-size: 1.5rem;
    text-align: center;
  }

  .tracker {
    background-color: #444;
    color: #ccc;
    // flex layout parts
    display: flex;
    flex-direction: column;
    flex-flow: flex-start;
    align-items: center;
  }

  .leasedata {
    margin: 0 0 1rem 0;

    input {
      display: block;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      padding: 0.5rem;
      font-size: 1rem;
    }

    select {
      font-size: 5rem;
    }
  }

  .today {
    text-align: center;
    font-size: 2rem;
    margin: 0 0 1rem 0;

    input {
      font-size: 2rem;
      padding: 1rem;
      text-align: center;
    }
  }

  .big {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .warning {
    background-color: crimson;
    color: white;
    padding: 0.25rem;
    border-radius: 0.5rem;
  }
}