.header {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  padding: 1rem;
  box-shadow: 0 0 6px black;
  background-color: #faf9f6;

  .nameblock {
    display: flex;
    margin-left: 3rem;
  }

  .surname {
    background-color: chocolate;
    color: white;
    padding: 0.75rem;
    font-weight: bolder;
  }

  .dotcom {
    color: chocolate;
  }

  .tagline {
    font-size: 1.5rem;
    font-style: italic;
    align-self: flex-end;
    color: grey;
  }
}

@media screen and (max-width: 423px) {
  .logo {
    background-size: 100% auto;
  }
}
