.header {
  .banner {
    height: 150px;
    background-image: url(/banner.jpg);
  }

  ul {
    background-color: black;
    margin: 0;
    border-top: 1px solid #444;
    li {
      display: inline;
      list-style-type: none;
      margin: 0;

      a {
        display: inline-block;
        padding: 1rem;
        color: white;
        text-decoration: none;
        font-weight: bold;

        &.active {
          background-color: darkslateblue;
        }
      }
    }
  }
}